body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 1%, 77%);
  }
  
  .nosotros {
    max-width: auto;
    margin: 20px auto;
    padding: 0 20px;
    background-color: hsl(0, 1%, 77%);
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
  }
  